
.contactView {margin-top: 12%;    margin-bottom: 22%}

.contactFormBlock {
  display: flex;
  margin-top: 6%;
  justify-content: center;
}
.contactFormBlock h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 7%;
}

.sucursalesList div{margin-top: 7%;margin-bottom: 7%;}

.sucursalesList div h2{

  font-family: 'Arima Madurai', cursive;
    font-size: 19px;
    font-weight: 200;
}

.sucursalesList div h3{


  font-family: 'Arima Madurai', cursive;
  font-size: 15px;
  font-weight: 200;
}

#submitBtnC {
  width: 59%;
  background-color: rgba(15, 130, 136, 0.76);
  margin-top: 2%;
}

#fondoForm{  
  height: 400px; margin-top: 4%; display: flex; justify-content: space-evenly;}
.formCardDecoration { width: 37%; margin-top:2% ; font-family: 'Arima Madurai', cursive;}
.formCard { width: 37%; margin-top: 2%;font-family: 'Arima Madurai', cursive;margin-left: 3%;}
.formCard form div {    width: 100%;}
#fondoForm li { margin-top: 2%;}
#fondoForm p {margin-top: 4%;    margin-bottom: 1%;}
#fondoForm h3{    font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 4%;
  }
.formCardDecoration  img{ margin-top: 4%; align-self: center;}
#outlined-basic{ width: 84%}

.suscribeDiv {display: flex; flex-direction: row;margin-bottom: 0%; margin-top: 1% ;
  justify-content: center; align-items: flex-end; }


 /* -- WIDGET FORM -------- */

.formWidget{
  
  font-family: 'Arima Madurai', cursive;
  padding: 2%;
}
.formWidget h3 {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 2%;
  font-size: 21px;
}

.formWidget p {
  margin-bottom: 2%;
}  

.formWidget input { height: 25px;}

.name, .address {
  display: flex;
  flex-direction: row;
}

.inputCont, .inputCont2 {
  width: 50%;
  margin-right: 3%;
  margin-top: 3%;
}

.phone , .message{
  width: 97%;
  margin-top: 3%;
} 

.inputCont2 div, .phone div, .message div {
  width: 100%;
}

/* MAPS     */

.map-wrap {
  position: relative;
  width: 100%;
  height: calc(100vh - 77px);
}

.map{
  width: 96vh;
  margin-left: 9%;
}